<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mobi.klimaszewski.linguist">

    <uses-permission android:name="linguist.services.DISCOVERY" />

    <application>
        <activity
            android:name=".LinguistOverlayActivity"
            android:theme="@style/Transparent" />
        <service
            android:name="mobi.klimaszewski.linguist.DiscoveryService"
            android:exported="true"
            android:permission="linguist.services.DISCOVERY">
        </service>

        <service
            android:name=".RemoteAppService"
            android:exported="true"
            android:permission="linguist.services.TRANSLATION" />
    </application>
</manifest>