<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mobi.klimaszewski.linguist">

    <uses-permission android:name="linguist.services.DISCOVERY" />

    <application>
        <activity
            android:name=".LinguistOverlayActivity"
            android:theme="@style/Transparent" />
        <receiver
            android:name=".LinguistDiscovery"
            android:exported="true">
            <intent-filter>
                <action android:name="mobi.klimaszewski.services.DISCOVER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".DiscoveryIntentService"
            android:exported="false" />

        <service
            android:name=".TranslationService"
            android:exported="true"
            android:permission="linguist.services.TRANSLATION" />
    </application>
</manifest>