<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.stringx.app">

    <uses-permission android:name="io.stringX.DISCOVERY" />

    <application>
        <activity
            android:name="io.stringx.LinguistOverlayActivity"
            android:theme="@style/Transparent" />
        <service
            android:name="io.stringx.DiscoveryService"
            android:exported="true"
            android:permission="io.stringX.DISCOVERY">
        </service>

        <service
            android:name="io.stringx.ClientService"
            android:exported="true"
            android:permission="io.stringX.TRANSLATION" />
    </application>
</manifest>